.brand-list-grid {
    margin-top: 0;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brand-list-::after {
    content: '';
    flex: auto;
}